.wrapper {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faf9ff;
  min-height: 100vh;
}
.wrapper .form-box {
  width: 100%;
  border: 10px solid #000;
}

.wrapper.active .form-box.signUp {
  transition: none;
  translate: -400px;
}
form .input-box {
  position: relative;
  width: 100%;
  min-height: 50px;
}
form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
}
.remember-forgot label input {
  accent-color: #fb84bd;
  margin-right: 4px;
}
form .register-link {
  font-size: 14.5px;
  text-align: center;
}
.register-link p a {
  color: #d51c75;
  text-decoration: none;
  font-weight: 600;
}
