<<<<<<< HEAD
=======
body.light {
  background-color: #fff;
  color: #000;
}
body.dark {
  background-color: #000000;
  color: #fff;
}
>>>>>>> 7d2770e47b7a36bbaede9d4513af913ec019668c
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
<<<<<<< HEAD
  padding: 15px;
  transition: 0.5s;
=======
  color: #000;
  height: 80px;
>>>>>>> 7d2770e47b7a36bbaede9d4513af913ec019668c
}
.header h2 {
  font-size: 40px;
  font-weight: 900;
}
<<<<<<< HEAD

.logo {
  color: #d51c75;
}

.toggle-icon {
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin-left: 40px;
}

=======
.dark .header {
  background: #000;
  color: #fff;
}
.logo {
  color: #d51c75;
}
>>>>>>> 7d2770e47b7a36bbaede9d4513af913ec019668c
.cart-icon {
  height: 30px;
  font-size: 30px;
  cursor: pointer;
<<<<<<< HEAD
}
.login {
  width: 35px;
  height: 30px;
  cursor: pointer;
  padding-left: 5px;
=======
>>>>>>> 7d2770e47b7a36bbaede9d4513af913ec019668c
}
.search-box {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  background: #1f1d1d;
  padding: 0px 15px;
  border-radius: 50px;
  width: 600px;
=======
  border-radius: 10px;
>>>>>>> 7d2770e47b7a36bbaede9d4513af913ec019668c
  justify-content: space-between;
  border: 3px solid #000;
}
.search-box input {
<<<<<<< HEAD
  padding: 14px;
=======
  padding: 10px;
>>>>>>> 7d2770e47b7a36bbaede9d4513af913ec019668c
  background: transparent;
  outline: 0;
  color: #fff;
  font-size: 18px;
  width: 550px;
}
<<<<<<< HEAD
.search-box::placeholder {
  color: #fff;
}
.search-box img {
  width: 35px;
  cursor: pointer;
}
.dark .header {
  background: #000;
  color: #fff;
}
.dark .search-box {
  background: #fff;
}
.dark .search-box input {
  color: #222;
}
.dark .search-box input::placeholder {
  color: #222;
}
/* .cart-count-icon{
  width: 45px;
  height: 25px;
  padding-bottom: 15px;
  margin-left: -5px;
  border-radius: 50%;
  font-size: 18px;
  background:red;
  color: #fff;
  gap: 30px;
}  */
=======
body.dark .search-box {
  color: #000;
  background-color: #fff;
}

body.light .search-box input {
  color: #000;
}
.dark .search-box input {
  color: #000;
}
>>>>>>> 7d2770e47b7a36bbaede9d4513af913ec019668c
.icons {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}
