.search-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 800px;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 5px;
    padding: 15px;
}

.search-container li {
    margin: 5px;
}
body.dark .search-container {
    color: #000;
}

.text-search {
    cursor: pointer;
    padding: 8px;
    color: #333;
}


@media (min-width: 768px) {
    .search-container {
        width: 50%; 
        top: 60px;
    }
}

@media (min-width: 1024px) {
    .search-container {
        width: 40%;
        top: 70px; 
    }
}

@media screen and (min-width: 250px) and (max-width:960px) {
    .found {
        display: none;
    }
}


