.navbar{
  position: fixed;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px 7%;
  transition: 0.5s;
}
.logo{
  width: 90px;
  cursor: pointer;
  padding-right: 40px;
}
ul{
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.toggle-icon {
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin-left: 40px;
}
.cart-icon {
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin-left: 40px;
}
.login-icon {
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin-left: 40px;
}
.dark .navbar{
 background:rgb(187, 175, 175);
 color: #fff;
}
ul li a{
  color: black;
  text-decoration: none;
}
ul li a:hover{
  color: orange;
  text-decoration: none;
  transition: .25s;
}
h2:hover{
  color: red;
  transition: .5s;
}